asgiref==3.9.1
dj-database-url==3.1.0
Django==5.2.6
django-cors-headers==4.8.0
djangorestframework==3.16.1
gunicorn==23.0.0
packaging==25.0
psycopg==3.3.2
psycopg-binary==3.3.2
PyMySQL==1.1.2
python-dotenv==1.1.1
sqlparse==0.5.3
tzdata==2025.2
whitenoise==6.11.0
